.CongratsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60vh;
}

.orderDetail{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}