.Header{
    background-color: #f4f4f4;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.NavOptions{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.NavOptions > a{
    text-decoration: none;
    color: #3c3c3c;
}

.NavOptions > a:hover{
    color:#0880A1;
}
 
.CartWidget{
    text-decoration: none;
}

.CartWidget > a{
    color: #3c3c3c;
}

.CartWidget > a:hover{
    color: #0880A1;
}

.InCart{
    color: white;
    padding: 5px;
    background-color: red;
    border-radius: 25px;
}