@import url(./Navbar.css);
@import url(./ItemDetail.css);
@import url(./ItemInCart.css);
@import url(./ItemInCartContainer.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ItemListContainer{
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul{
    list-style-position: inside;
}

.loadingStyle{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}